<div class="sketchfab-embed-wrapper">
  <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/09bb5c6b25c643f795a5a696c4ddb970/embed?autostart=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" allow="autoplay; fullscreen; vr"></iframe>
  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/3d-models/trireme-09bb5c6b25c643f795a5a696c4ddb970?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Trireme</a>
    by <a href="https://sketchfab.com/ThomasBeerens?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">ThomasBeerens</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
  </p>
</div>

<iframe src="https://3dwarehouse.sketchup.com/embed/6c563374c9bdf249dc483960fa9d25ec" width="580" height="326" allowfullscreen></iframe>
