<div style="background: #00001a">
  <div class="content">
    <mat-toolbar color="primary" class="header">
      <span>Alexander's Empire</span>
    </mat-toolbar>
    <mat-tab-group color="accent" style="background: white">
      <mat-tab label="Life of Alexander">
        <mat-card class="mat-tab-card">
          <h1>Timeline</h1>
          <img
            src="../assets/empire-map.jpg" alt="Alexander's Empire Map"/>
          <h3><i>July 356 BC:</i> Birth of Alexander in Macedonia to King Philip and Queen Olympias</h3>
          <h3><i>340 BC:</i> First victory and establishment of the colony, Alexandroupolis</h3>
          <h3><i>336 BC:</i> King Philip assassinated</h3>
          <h3><i>335 BC:</i> Settled revolt in Thebes, conquering the city-state in the process</h3>
          <h3><i>334 BC:</i> First major victory against the Persians</h3>
          <h3><i>333 BC:</i> Won the battle of Issus</h3>
          <h3><i>332 BC:</i> Took Gaza by force</h3>
        </mat-card>
      </mat-tab>
      <mat-tab label="Battles">
        <mat-card class="mat-tab-card">
          <h1>Alexander's Greatest Battles</h1>
          <img src="../assets/alexander_hot.jpg" alt="Alexander's Empire Map"/>
          <h3>Battle of Granicus</h3>
          <a>Alexander took over half of Asia Minor and conquered the Persians</a>
          <h3>Battle of Issus</h3>
          <a>First time facing Darius III of Persia, won</a>
          <h3>Battle of Tyre</h3>
          <a>Conquering of a major strategic city on route of Phoenicia</a>
          <h3>Battle of Gaugamela</h3>
          <a>Last major battle against the Persians</a>
          <h3>Battle of The Hydaspes</h3>
          <a>Battle against king Porus in India. Most difficult battle</a>
          <h3>Battle of Chaeronea</h3>
          <a>Battle in which Macedonia took dominance in Greece</a>
        </mat-card>
      </mat-tab>
      <mat-tab label="Weapons">
        <mat-card class="mat-tab-card">
          <div class="sketchfab-embed-wrapper">
            <iframe title="A 3D model" width="100%" height="480"
                    src="https://sketchfab.com/models/09bb5c6b25c643f795a5a696c4ddb970/embed?autostart=0&amp&lazy=1;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1"
                    allow="autoplay; fullscreen; vr"></iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
              <a
                href="https://sketchfab.com/3d-models/trireme-09bb5c6b25c643f795a5a696c4ddb970?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Trireme</a>
              by <a
              href="https://sketchfab.com/ThomasBeerens?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
              target="_blank" style="font-weight: bold; color: #1CAAD9;">ThomasBeerens</a>
              on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                    target="_blank"
                    style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
          </div>
          <div class="sketchfab-embed-wrapper">
            <iframe title="A 3D model" width="100%" height="480"
                    src="https://sketchfab.com/models/c8418b41f0c74d7598e1109bc6c44612/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1"
                    allow="autoplay; fullscreen; vr"></iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
              <a
                href="https://sketchfab.com/3d-models/greek-warrior-c8418b41f0c74d7598e1109bc6c44612?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Greek Warrior</a>
              by <a href="https://sketchfab.com/antareus?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                    target="_blank" style="font-weight: bold; color: #1CAAD9;">Antareus</a>
              on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                    target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
          </div>

        </mat-card>
      </mat-tab>
      <mat-tab label="Tactics">
        <mat-card class="mat-tab-card">
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-toolbar class="footer" color="primary">
    <div style="font-size: 12px; margin-left: auto">
      Author: <a href="https://www.linkedin.com/in/abigail-varnell-973a81198/">Abby Varnell</a> Website made by: <a
      href="https://www.linkedin.com/in/trey-rhodes/">Trey Rhodes</a>
    </div>
  </mat-toolbar>
</div>
