<div style="background: #00001a">
  <div class="content">
    <mat-toolbar color="primary" class="header">
      <span>Alexander's Empire</span>
    </mat-toolbar>
    <mat-tab-group color="accent" style="background: white">
      <mat-tab label="Life of Alexander">
        <mat-card class="mat-tab-card">
          <h1>Timeline</h1>
          <img
            src="../assets/empire-map.jpg" alt="Alexander's Empire Map"/>
          <h3><i>July 356 BC:</i></h3>
          <mat-card>
            Birth of Alexander in Macedonia to King Philip and Queen Olympias.<br/><br/>
            Differing accounts share a similar idea: Alexander, from conception, was destined to be a ruler, to be
            great. Records share that his mother dreamt of a fiery thunderbolt entering her body and Philip II saw in
            a
            dream a lion mark on Olympias, again portraying Alexander was destined for far more than the average
            person.
            In a more mythological sense, some accounts say he was conceived by the god Ammon, who, in the form of a
            serpent, had intercourse with Olympias.<br/><br/>
            Regardless of his conceptive origin, Alexander was raised by his father to be a military leader and the
            king
            of Macedonia.<sup>i</sup>
          </mat-card>
          <h3><i>340 BC:</i></h3>
          <mat-card>
            Completion of school at Mieza where Alexander studied under the Athenian philosopher,
            Aristotle.<sup>ii</sup><br/><br/>
            Alexander officially handed down the throne of Macedonia.<sup>iii</sup><br/><br/>
            First military victory. Alexander assisted his father in conquering the Maedi, a Thracian tribe, and
            established the colony, Alexandropolis.<sup>iv</sup>
          </mat-card>
          <h3><i>339 BC:</i></h3>
          <mat-card>
            Battle of Chaeronea.
          </mat-card>
          <h3><i>336 BC:</i></h3>
          <mat-card>
            King Philip II stabbed in the ribs at the athletic games and killed. The assassination of Philip was the
            first of many to occur in Alexander’s family. Power-hungry and threatened by the idea his family could
            overthrow him, Alexander had numerous family members killed, leaving his mother and mentally handicapped
            half-brother alive.<sup>v</sup><br/><br/>
            Before the assassination, tensions between the father and son had steadily increased until, in a drunken
            state, the two broke out in a brawl at Philip II wedding to a young Macedonian, Cleopatra. The union between
            Philip and Cleopatra threatened the rise of an heir to Macedonia more legitimate than
            Alexander.<sup>vi</sup>
          </mat-card>
          <h3><i>335 BC:</i></h3>
          <mat-card>
            Settled revolt in Thebes, conquering the city-state in the process.<br/><br/>
            He soon faced unrest in Thebes and lost 500 troops in battle. In retaliation, his forces demolished the
            city, killing more than 6,000 of its residents and selling approximately 30,000 people into
            slavery.<sup>vii</sup>
          </mat-card>
          <h3><i>334 BC:</i></h3>
          <mat-card>
            First major victory against the Persians.
          </mat-card>
          <h3><i>333 BC:</i></h3>
          <mat-card>
            Won the battle of Issus.<br/><br/>
            Cut the Gordian Knot- the Gordian knot in Gordium was prophesied that a man who untied the knot was to
            receive power over Asia Minor or even all of Asia. After taking the city of Gordium, Alexander was shown the
            chariot of Gordias and was told about the prophecy. Alexander, wanting to be the most powerful, attempted to
            untie the knot. He failed to and instead drew his sword and sliced it in half with a single
            stroke.<sup>viii</sup>
          </mat-card>
          <h3><i>332 BC:</i></h3>
          <mat-card>
            Took Gaza by force.<br/><br/>
            Alexander’s army conquered Gaza through siege techniques and violence. The brutal victory in Gaza led to the
            surrender of other countries such as Jerusalem in the future.<sup>ix</sup>
          </mat-card>
          <h3><i>327 BC:</i></h3>
          <mat-card>
            Married Macedonian Wife, Roxane, who mothered the only heir to Alexander’s kingdom. The child was born
            shortly after the death of Alexander.
          </mat-card>
          <h3><i>326 BC:</i></h3>
          <mat-card>
            Defeated King Porus of India.<br/><br/>
            King Porus’ infantry reportedly numbered between 20,000 and 50,000 men. His 4,000-man cavalry was reinforced
            by chariots and about 200 elephants as well. The elephants served as his most effective form of defense, for
            horses were terrified of the huge creatures.<br/><br/>
            To discourage Alexander from crossing the river, Porus ordered elephant-mounted troops to patrol the river’s
            east bank. The only way Alexander could get a body of troops across the river was by deception and surprise.
            In a sneak attack of deception and scheming, Alexander and his men crossed and defeated the
            Indians.<sup>x</sup>
          </mat-card>
          <h3><i>323 BC:</i></h3>
          <mat-card>
            Died of Illness.<br/><br/>
            In such a short life, what made him so successful?<br/><br/>
            The fractured power in Greece at the time of Philip’s rise to power allowed for Macedonia to become a
            prominent nation. By the time Alexander was ready to take over a trained military and ally system had been
            in place for years. He had been trained by his father and raised to lead from the front. In essence,
            Alexander took a great military in a great nation to expand the borders of his kingdom.
          </mat-card>
        </mat-card>
      </mat-tab>
      <mat-tab label="Battles">
        <mat-card class="mat-tab-card">
          <h1>Alexander's Greatest Battles</h1>
          <img src="../assets/alexander_hot.jpg" alt="Alexander"/>
          <h3>Battle of Granicus</h3>
          <a>Alexander took over half of Asia Minor and conquered the Persians</a>
          <h3>Battle of Issus</h3>
          <a>First time facing Darius III of Persia, won</a>
          <h3>Battle of Tyre</h3>
          <a>Conquering of a major strategic city on route of Phoenicia</a>
          <h3>Battle of Gaugamela</h3>
          <a>Last major battle against the Persians</a>
          <h3>Battle of The Hydaspes</h3>
          <a>Battle against king Porus in India. Most difficult battle</a>
          <h3>Battle of Chaeronea</h3>
          <a>Battle in which Macedonia took dominance in Greece</a>
        </mat-card>
      </mat-tab>
      <mat-tab label="Tactics and Weaponry">
        <mat-card class="mat-tab-card">
          <h3>Phalanx<sup>xiii</sup></h3>
          <mat-card>
            Deployed in files of 8 men deep, approximately 2 meters apart.<br/><br/>
            Spear in the right hand, shield in left covering ½ of his body and half of that of the man next to
            him.<br/><br/>
            Practiced and uniform, a mistake in shield holding or spear using could cause mass casualties.
            <div class="sketchfab-embed-wrapper">
              <iframe title="A 3D model" width="100%" height="480"
                      src="https://sketchfab.com/models/c8418b41f0c74d7598e1109bc6c44612/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1"
                      allow="autoplay; fullscreen; vr"></iframe>
              <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a
                  href="https://sketchfab.com/3d-models/greek-warrior-c8418b41f0c74d7598e1109bc6c44612?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                  target="_blank" style="font-weight: bold; color: #1CAAD9;">Greek Warrior</a>
                by <a href="https://sketchfab.com/antareus?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                      target="_blank" style="font-weight: bold; color: #1CAAD9;">Antareus</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup"
                      target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
              </p>
            </div>
          </mat-card>
          <h3>Sarissa</h3>
          <mat-card>
            <img src="../assets/sarissa.png" alt="image of sarissa" style="max-width: 670px"/><br/>
            <a style="font-size: 12px">Image captured from HistoryNet
              https://www.historynet.com/macedonian-sarissa-spartan-hunting-spear-of-philip-ii.htm</a>
          </mat-card>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-card>
      <h3>References</h3>
      <a>
        i. Nawotka, Krzysztof. 2010. Alexander the Great. Newcastle upon Tyne: Cambridge Scholars Publishing.
        1-2. <br/>
        ii. Ibid., 48. <br/>
        iii. Ibid. <br/>
        iv. Ibid., 49. <br/>
        v. Katie Marsico. 2009. Alexander the Great: Ancient King & Conqueror. Essential Lives. Edina, MN: Essential
        Library. 29-32.
        http://search.ebscohost.com/login.aspx?direct=true&AuthType=shib&db=nlebk&AN=395101&site=eds-live.<br/>
        vi. Ibid. <br/>
        vii. Ibid., 35. <br/>
        viii.
        https://www.ancientpages.com/2020/05/20/gordian-knot-and-how-alexander-the-great-managed-to-outmaneuver-the-problem/
        <br/>
        ix. Mercer, Charles. 2015. Alexander the Great. Newbury: New Word City, Inc. 32-33.
        http://search.ebscohost.com/login.aspx?direct=true&AuthType=shib&db=nlebk&AN=1370515&site=eds-live. <br/>
        x. Mercer, Charles. 2015. Alexander the Great. Newbury: New Word City, Inc.
        49-51.http://search.ebscohost.com/login.aspx?direct=true&AuthType=shib&db=e900xww&AN=1370515&site=eds-live.<br/>
        xi. Kate Marsico, Alexander the Great: Ancient King and Conquerer, 26-29.<br/>
        xii. Ibid., 38-39. <br/>
        xiii. . John Sadler, and Rosie Serdiville. 2018. Alexander the Great: Conqueror, Commander, King. Casemate
        Short History. Oxford: Casemate Publishers, 44-46.
        http://search.ebscohost.com/login.aspx?direct=true&AuthType=shib&db=e000xna&AN=2023101&site=eds-live. <br/>
      </a>
    </mat-card>
  </div>
  <mat-toolbar class="footer" color="primary">
    <div style="font-size: 12px; margin-left: auto;">
      Author: <a href="https://www.linkedin.com/in/abigail-varnell-973a81198/" style="color: white">Abby Varnell</a>
      Website made by: <a
      href="https://www.linkedin.com/in/trey-rhodes/" style="color: white">Trey Rhodes</a>
    </div>
  </mat-toolbar>
</div>
