img {
  max-width: 1000px;
  width: 100%;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 96vh;
  flex: 1;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  height: 4vh;
  font-size: 12px;
}

mat-tab-group {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 90vh;
}

.mat-tab-card {
  min-height: 81vh;
}

.header {
  height: 6vh;
}
