img {
  max-width: 1000px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 89vh;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: end;
  height: 4vh;
  font-size: 12px;
}

mat-tab-group {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 7vh;
}
